<h2 class="title">Camel Monitoring</h2>
<div class="container">
  <h3 style="padding-top: 35px;" class="text-secondary">Camel Routes</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-primary" scope="col">Name</th>
        <th class="text-primary" scope="col">State</th>
        <th class="text-primary" scope="col">EndpointUri</th>
        <th class="text-primary" scope="col">Completed</th>
        <th class="text-primary" scope="col">Failed</th>
        <th class="text-primary" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of route">
        <td>{{r.Description}}</td>
        <td>{{ r.State }}</td>
        <td>{{r.EndpointUri}}</td>
        <td>{{r.ExchangesCompleted}}</td>
        <td>{{r.ExchangesFailed}}</td>
        <td>{{r.ExchangesTotal}}</td>
      </tr>
    </tbody>
  </table>

  

  <div class="row" style="padding-top: 20px;">
    <div class="col-md-6">
      <div class="card bg-light text-dark">
        <div class="card-body" style="height:45vh; width:40vw;">
          <div style="height:20vh; width:40vw;">
            <canvas baseChart 
              [data]="pieChartData" 
              [labels]="pieChartLabels" 
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [plugins]="pieChartPlugins"
              [colors]="pieChartColors"
              [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="card bg-light text-dark">
        <div class="card-body" style="height:45vh; width:40vw;">
          <div >
            <canvas baseChart 
              [data]="pieChartData1" 
              [labels]="pieChartLabels1" 
              [chartType]="pieChartType1"
              [options]="pieChartOptions1"
              [plugins]="pieChartPlugins1"
              [colors]="pieChartColors"
              [legend]="pieChartLegend1">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div style="text-align:center; margin-top: 30px;">
  <a  routerLink="/monitoring/endpoints" style="padding: 12px 20px;margin: 0 12px;"   class="btn btn-primary col-3 me-2">View endpoints</a>
  <a routerLink="/monitoring/components" style="padding: 12px 20px; margin: 0 12px;" class="btn btn-primary col-3 me-2">View Components</a>
  <a routerLink="/monitoring/files" style="padding: 12px 20px; margin: 0 12px; " class="btn btn-primary col-3 me-2">View Files</a>
</div>








 
    
