<h1 class="title">Users</h1>
<div class="container margened">
   <div class="input-group rounded">
      <input type="search" class="form-control rounded" (input)="search($event)" placeholder="Search" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="searchText"  placeholder="Search..." />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th style="color: blue;">Firstname</th>
        <th style="color: blue;">Lastname</th>
        <th style="color: blue;">Email</th>
        <th style="color: blue;">Phone Number</th>
        <th style="color: blue;">IsEnabled</th>
        <th style="text-align: center; color: blue;">Roles</th>
        <th style="color: blue;" class="centered">Actions</th> 
      </tr>
    </thead>
    <tbody>    
      <tr class="table-light"*ngFor="let user of users1 | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total} ">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>
           <a style="cursor: pointer;" (click)="updateDesabel(user.id)" *ngIf="user.isEnabled"><i style="color: green; font-size: x-large;" class="fa-solid fa-person-circle-check"></i></a>
           <a style="cursor: pointer;" (click)="updateEnabel(user.id)" *ngIf="!user.isEnabled"><i style="color: orangered; font-size: x-large;" class="fa-solid fa-person-circle-xmark"></i></a>
         </td>
        <td style="text-align: center;">
            <div style="display: inline-block; padding-left: 10px;" *ngFor="let role of user.roles"> 
               <!-- <span class="badge badge-success rounded-pill d-inline">{{ role.roleName }}</span> -->
               <span  [ngClass]=" { 'roleUser': role.roleName == 'ROLE_USER',

               'roleAdmin' :role.roleName == 'ROLE_ADMIN'      }" class="role">{{ role.roleName }}</span>
            </div>
        </td>
        <td>
          <div class="centered">
            <a class="update" data-toggle="modal" style="cursor: pointer; color: rgb(98, 205, 98);" data-target="#updateUserModal" (click)="onclickUpdate(user, user.id)"><i class="fa-solid fa-user-pen"></i></a>
            <a class="delete" data-toggle="modal" style="cursor: pointer; color: rgb(216, 46, 46);" data-target="#deletUserModal" (click)="onclickUpdate(user, user.id)"><i class="fa-solid fa-user-xmark"></i></a>
            <a class="added" data-toggle="modal" style="cursor: pointer; color: rgb(49, 49, 239);" data-target="#addRoleToUserModal" (click)="onclickAddRole(user.email)"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls previousLabel="Prev"
  nextLabel="Next"
  [responsive]="true" (pageChange)="changePage($event)"></pagination-controls>
</div>



 <!-- Edit Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateUserModalLabel">Update user</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #updateForm="ngForm">
              <div class="form-group">
                 <label class="label1" for="firstName">firstName</label>
                 <input #firstName type="text" ngModel="{{ actualUser?.firstName }}" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="firstName">
              </div>
              <div class="form-group">
               <label class="label1" for="lastName">lastName</label>
               <input #lastName type="text" ngModel="{{ actualUser?.lastName }}" name="lastName" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="lastName">
            </div>
            <input #id type="hidden" ngModel="{{ actualUser?.id }}" name="id" class="form-control" id="id" aria-describedby="emailHelp" placeholder="id">
              <div class="form-group">
                 <label class="label1" for="email">Email Address</label>
                 <input #email type="email" ngModel="{{ actualUser?.email }}" name="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                 <label class="label1" for="phone">Phone number</label>
                 <input #phoneNumber type="text" ngModel="{{ actualUser?.phoneNumber }}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button  data-dismiss="modal" class="btn btn-primary" (click)="onUpdateUser(firstName.value, lastName.value, email.value, phoneNumber.value, id.value)" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div> 

 <!-- delete Modal -->
 <div  class="modal fade" id="deletUserModal" tabindex="-1" role="dialog" aria-labelledby="userDeleteModalLabel" aria-hidden="true">
  <div  class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title centered" id="DeleteModalLabel">Deleting user</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #deleteForm="ngForm">
              <div style="padding: 20px;">
               <h3 style=" font-size:xx-large;color: red; text-align: center;"><i style="font-size:xx-large;" class="fa-solid fa-circle-exclamation"></i></h3>
                <p style="text-align: center;">
                  Are you sure you want to delete <span style="color: red; font-weight: bold;">{{actualUser?.firstName}}</span>!!
                </p>
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                 <button  data-dismiss="modal" class="btn btn-danger" (click)="onDeleteUser(actualUser.id)" >Delete</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div> 


<!-- add role to user Modal -->
<div class="modal fade" id="addRoleToUserModal" tabindex="-1" role="dialog" aria-labelledby="userDeleteModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title centered" id="DeleteModalLabel">Add Role to user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div  class="modal-body" style="text-align: center;">
               <button style="margin: 70px 0; width: 150px; text-align: left;" class="btn btn-outline-primary dropdown-toggle"  data-toggle="dropdown">Select Role</button>
                <div class="dropdown-menu">
                  <div  class="dropdown-item">
                      <div class="form-check">    
                            <input type="radio" class="form-check-input" name="optradio2" value="ROLE_ADMIN" [(ngModel)]="radioData">ROLE_ADMIN
                      </div>
                  </div>
                  <div  class="dropdown-item">
                     <div class="form-check">    
                           <input type="radio" class="form-check-input" name="optradio2" value="ROLE_USER" [(ngModel)]="radioData">ROLE_USER
                     </div>
                 </div>
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                  <button  data-dismiss="modal" class="btn btn-success" (click)="addRoleToUser(actualEmail)">Add</button>
               </div>
         </div>
      </div>
   </div>
 </div> 
 

