<div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <img src="../../../assets/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3>Sign In</h3>
            </div>
            <form [formGroup]="loginForm">
              <div class="form-group first" style="margin-bottom: 20px;">
                  <input [class.is-invalid]="getEmail.invalid && getEmail.touched"
                   #email placeholder="Username or Email" type="text" class="form-control" id="username" formControlName="email"> 
                   <div *ngIf="(getEmail.invalid && getEmail.touched) || getEmail.dirty">
                    <small *ngIf="getEmail.errors?.required" class="text-danger">email is required</small>
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="getEmail.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                  </div>         
              </div>
              <div class="form-group last mb-4">
                  <input [class.is-invalid]="getPassword.invalid && getPassword.touched"
                   #pwd type="password" placeholder="Password" class="form-control" id="password" formControlName="password">
                  <div *ngIf="(getPassword.invalid && getPassword.touched)">
                    <small *ngIf="getPassword.errors?.required" class="text-danger">Password is required</small>
                  </div>
              </div>
              
              <div  class="mb-4" style="text-align: right;">
                <a routerLink="/register">still don't have acount ?</a>
              </div>

              <input type="submit" (click)="onLogin(email.value,pwd.value)" [disabled]="!loginForm.valid" value="Log In" class="btn btn-block btn-primary">
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>