.home{
    color: #65737E;
     font-family: 'Rouge Script', cursive;
      font-size: 40px;
       font-weight: normal;
        margin: 0;
        text-align: center; 
        position: absolute;
        top: 50%; left: 50%; /* à 50%/50% du parent référent */
        transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}